/* Menu Styles */
#menu {
    height: 100%;
    display: flex;
    align-items: center;

    --background-dark: #191919;
    background-color: var(--background-dark);
}

#menu-items {
    margin-left: 5rem;
    padding: 2rem;

    background-color: var(--background-dark);

    transition: background-color ease 0.4s;
}

#menu-items:hover {
    background-color: white;
}

/* Menu Item Styles*/
#menu-items:hover .menu-item {
    opacity: 0.25;
    color: #aaffff;
}

#menu-items:hover>.menu-item:hover {
    opacity: 1;
    color: white;
    transform: translateX(5%);
}

#menu-items:hover>.menu-item:hover~.menu-item {
    color: #ffaa47;
}

.menu-item {
    color: white;
    mix-blend-mode: difference;

    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Franklin Gothic Medium";

    display: block;
    text-decoration: none;
    padding: .5rem;

    transition: opacity ease 0.4s, color ease 0.4s, transform ease 1s;
}