.card {
    width: 100%;
    height: 100%;

    background-color: rgb(25, 25, 25);
    border: 6px solid rgb(200, 90, 90);
    border-radius: 25px;

    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
}

.card>* {
    width: 80%;
    margin: auto;
}

@media screen {
    h1,
    p,
    span {
    color: whitesmoke;
    }
}

@media print {
    h1,
    p,
    span {
        color: darkslategrey;
    }
}
