:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    counter-reset: itemnumber;
}

@media screen {
    #page-content{
        max-width: 90%;
        /* max-height: 100%; */
    
        height: 75%;
    
        margin: auto;
        padding: 5%;
        
        box-shadow: inset 0px 0px 5px 2px #6e6e6e;
    }
}
