#card-container {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
}

#card-container>app-product-card {
    margin: 1vmin 1vmin;
}


/* Media Specific Styling */
@media screen {
    @media(min-width: 1001px) {
        app-product-card {
            width: 25vw;
        }
    }

    @media(max-width:1000px) and (min-width:895px) {
        app-product-card {
            width: 40vw;
        }
    }

    @media(max-width: 894px) {
        #card-container {
            flex-direction: column;
            align-items: center;
        }

        #card-container>app-product-card {
            width: 50vw
        }
    }

    app-product-card {
        aspect-ratio: 1/1.5;
    }
}

@media print {
    #card-container {
        flex-direction: column;
        align-items: center;
    }

    app-product-card {
        width: 90vw;
        height: 90vh;
        page-break-after: always;
    }
}