<h1 id="main-title">Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod, quam eu eleifend pulvinar, erat
    lorem ornare turpis, a fringilla risus arcu sed nulla. Etiam eget porta nisl. Vestibulum ac sollicitudin est.
    Phasellus eros neque, condimentum id lectus ut, convallis volutpat leo. Fusce elementum enim non risus aliquet,
    a ultricies purus dapibus. Nulla commodo dolor et lorem iaculis sagittis. Nam non mi libero. Vivamus at tellus
    id risus accumsan venenatis non at risus. Duis sed nibh ornare, feugiat mauris sed, tempor nulla. Mauris
    suscipit imperdiet euismod. Nullam eget tellus placerat sem fermentum malesuada ut eget felis. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sit amet elit finibus,
    lobortis turpis eu, elementum purus. Vivamus eu arcu malesuada, congue magna in, blandit lectus.</p>
<br />
<div style="background-color: crimson;">
<h2 class="secondary-title">Lorem Ipsum</h2>
</div>
<p>
    Nunc hendrerit diam a justo blandit pretium. Quisque dui augue, bibendum quis egestas vel, finibus id velit. Donec
    rhoncus massa nec nisl malesuada semper. Nunc at tortor in lorem maximus dapibus quis nec justo. In hac habitasse
    platea dictumst. Curabitur porttitor risus sit amet fringilla mattis. Suspendisse quis libero dapibus, lobortis enim
    vel, tristique ligula. Vestibulum volutpat faucibus nisl non interdum.
</p>