/* Universal Selector */
* {
    display: flex;
    justify-content: space-around;

    padding: 2%;
    margin: auto;

    transition: all ease .3s;
}

/* Id selector */
#main {
    width: auto;
    height: auto;

    margin: auto;
}

/* Type Selector */
div {
    border-radius: 2rem;
}

/* Class Selector */
.special {
    background-color: crimson;
}

/* Attribute Selectors */
div[attr], /* Any div with the attribute "attr" */
div[attr="special"] /* Any div with the attribute "attr" with a value of "special" */ {
    background-color: cadetblue;
}

div[attr^="14"], /* Any div with the attribute "attr" where the value starts with "14" */
div[attr$="14"], /* Any div with the attribute "attr" where the value ends with "14" */
div[attr*="14"], /* Any div with the attribute "attr" where the value contains "14" */
div[attr~="14"], /* Any div with the attribute "attr" where the value contains "14" surrounded by whitespace */
div[attr|="14"] /* Any div with the attribute "attr" where the value contains "14" surrounded by "-" hyphens */ {
    color: aquamarine;
}

/* Combinators */

#main~#first {
    background-color: antiquewhite;
}

#main>#first,
#main>#second {
    width: 100px;
}

#first {
    border: 2px solid blue;
    min-height: 20px;
}

#second {
    border: 2px solid red;
    min-height: 20px;
}